html
  head
    meta(charset='utf-8')
    link(href='css/layout.css', rel='stylesheet', type='text/css')
    block head
  body
    .container.u-full-width.u-max-full-width.tk-acumin-pro
      header.row
        .row
          .name.six.columns
            h1 elvira del rey carles coll
            h2 arquitectura
          .lang.six.columns
            .select.u-pull-right languages / idiomas

            ul.u-pull-right
              li.active castellano

              li català

              li english
        nav.row
          ul
            li.four.marginless.columns
              a(href='') equipo

              ul
                li
                  a(href='') Elvira del Rey

                li
                  a(href='') Carles Coll

            li.four.marginless.columns
              a(href='') proyectos

              ul
                li
                  a(href='') edificación

                li
                  a(href='') reforma y rehabilitación

                li
                  a(href='') no residenciales

            li.four.marginless.columns
              a(href='') colaboradores

              ul
                li
                  a(href='') aparejadores

                li
                  a(href='') calculistas e ingenieros

            li.four.marginless.columns
              a(href='') contacto
              ul
                li
                  a 93 451 35 36

                li
                  a dc@delreycollarquitectes.org
      main.row
        block content
      footer.row
        .three.columns
          h1 elvira del rey carles coll

          h2 arquitectes

        .three.columns
          span carrer bruc 88 , 5&ordm; 8&ordf; barcelona
          span 93 451 35 36

        .three.columns
          a e.del.rey@coac.cat
          a ccoll@coac.cat

        .three.columns
          span &copy; ivo sequeros del rey
  block end
