extends layout
block head
  link(href='css/projects.css', rel='stylesheet', type='text/css')
block content
  div.one-half.column.project
    div.image(style='background-image:url(img-test/03.jpg)')
    div.description Casa Cortacans
  div.one-half.column.project
    div.image(style='background-image:url(img-test/01.jpg)')
    div.description
      div.five.columns Casa dels Velers
      div.seven.columns.right
        span.label arquitectes
        span.arquitectes Elvira del Rey
  div.one-half.column.project
    div.image(style='background-image:url(img-test/01.jpg)')
    div.description
      div.five.columns Casa dels Velers
      div.seven.columns.right
        span.label arquitectes
        span.arquitectes Elvira del Rey
  div.one-half.column.project
    div.image(style='background-image:url(img-test/01.jpg)')
    div.description
      div.five.columns Casa dels Velers
      div.seven.columns.right
        span.label arquitectes
        span.arquitectes Elvira del Rey
  div.one-half.column.project
    div.image(style='background-image:url(img-test/01.jpg)')
    div.description
      div.five.columns Casa dels Velers
      div.seven.columns.right
        span.label arquitectes
        span.arquitectes Elvira del Rey
block end
